/* COLOR PALETTE */
:root {
    --dark_blue: #065b91CC;
    --light_blue: #44acd3AA;
    --lighter_blue: #86c2cc;
    --brown: #b68669;
}
@font-face {
    font-family: 'Alegreya Sans';
    src: url('./alegreyasans/AlegreyaSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Alegreya Sans';
    src: url('./alegreyasans/AlegreyaSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Alegreya Sans';
    src: url('./alegreyasans/AlegreyaSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Alegreya Sans';
    src: url('./alegreyasans/AlegreyaSans-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style:normal;
}
@font-face {
    font-family: 'Alegreya Sans';
    src: url('./alegreyasans/AlegreyaSans-Black.ttf') format('truetype');
    font-weight: 900;
    font-style:normal;
}
html{
    height: 100%;
}
body{
    height: 100%;
    margin: 0;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    color: var(--lighter_blue);
    background: var(--lighter_blue);
    font-family: 'Alegreya Sans';
}
div{
    /* display: flex; */
}
#header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    background-color: white;
    margin: 0;
    height: 68px;
}
h1 {
    display: flex;
    padding-top: 3px;
    margin: 0;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 60px;
    /* margin-left: 20px; */
}
#tabs{
    display: flex;
    flex-direction: column;
    margin-top: 153px;
    margin-left: 60px;
    margin-right: 14px;
    justify-content: flex-end;
    /* align-items: flex-start; */
    gap: 10px;
    flex-grow: 1;
}
button{
    border:none;
    background-color: white;
    color: var(--lighter_blue);
    font-family: 'Alegreya Sans';
    font-weight: 500;
    text-transform: uppercase;
    height: 48px;
    font-size: 20px;
    padding: 14px;
    border: 2px solid var(--lighter_blue);
    border-bottom: none;
};
#left{
    display:flex;
}
#content{
    display: flex;
    justify-content: flex-start;
    gap: 2px;
    /* flex: 1; */
}
.container{
    display: flex;
    flex: 1;
    flex-direction: column;
    border-top: solid 2px var(--lighter_blue);
    max-width: 580px;
    min-width: 200px;
    gap: 20px;
    height: 270px;
    padding: 60px 14px;
    padding: 0px 1px;
    font-size: large;
    color: white;

}
#menu{
    display:flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 14px;

}
.menuItem{
    font-weight: 300;
}
.menuCategory{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-weight: 600;
    width: 200px;
}
.menuItem{
    display: flex;
    justify-content: space-between;
    font-weight: light;
}
.food_pic{
    display:flex;
    height:144%;
    /* width: auto; */
    flex-grow: 0;
    /* margin:0; */
}


.image_container{
    display: flex;
    margin: 14px;
    margin-top: 34px;
    gap: 2%;
    flex-wrap: wrap;
}
.small_food_pic{
    display:flex;
    flex: 1;
    width: 22%;
    height: 22%;
}
.home_text, .catering{
    display: flex;
    margin: 14px;
}

#footer{
    display:flex;
    flex-grow:1;
    color: white;
    font-size: small;
    justify-content: space-between;
    max-width: 580px;
    padding: 40px 440px;
    gap: 30px;
}
.address{
    margin: 10px;
    padding-right: 230px;
}